[2019-12-19 01:42] itsMatoosh opened #5 "iOS support"
Hi, this is a great plugin! I was wondering when you're planning to add iOS support. I am building an app which uses Spotify and I wanted to use this plugin. Also please let me know if you need any help in implementing the iOS side.

[2019-12-19 12:26] brim-borium commented on #5
Hi Mateusz,

we are currently working on this, but this won't be finished until the end of January because of Holidays :) But if we have any updates in that I'll post it here

[2020-01-13 21:20] trezm commented on #5
Keeping an eye on this as well, let me know if you want a hand, as this would be really useful for a project I'm working on!

[2020-01-14 07:25] brim-borium commented on #5
You can talk to @Steffenberg he is currently working on the iOS implementation

[2020-01-14 07:33] brim-borium commented on #5
@itsMatoosh @trezm I can add you as collaborators if you want and you can give it a try or continue working on @Steffenberg branch

[2020-01-14 12:11] trezm commented on #5
I can take a look at that branch -- what's the current state of it? It looks like the description is blank

[2020-01-14 13:27] brim-borium commented on #5
As far as I know the current state is that he managed to integrate the spotify sdk into the native project and now the sdk calls have to be implemented

[2020-01-14 13:31] trezm commented on #5
:+1: sounds good

On Tue, Jan 14, 2020 at 8:27 AM Tobias Busch <notifications@github.com>
wrote:

[2020-01-24 08:16] lucavinci commented on #5
Awesome!

[2020-02-11 16:58] brim-borium commented on #5
Update on this:
Currently we don't find the time working on the iOS integration. If somebody wants to have a look at it feel free to text me

[2020-02-12 16:06] trezm commented on #5
I'm hoping to have some time this weekend to potentially work on this, no promises though!

[2020-03-02 11:03] lucavinci opened #10 "track.imageUrl is always null"
Currently, there is no functioning way to get the image url of the album art of the currently playing track.
`playerState.track.imageUri` is always null.

This is very important because now, I have to use the spotify web api to fetch the track with the `track.uri` just to get the image uri.

[2020-03-02 11:18] brim-borium commented on #10
Currently this feature is not implemented on the platform side. I will have a look at this and see if I can implement it this week

[2020-03-02 12:11] lucavinci commented on #10
Sorry, I read over that. Thank you for your quick reply :)

[2020-03-03 11:30] dagnorland opened #11 "App getting IllegalStateException. In Idle mode the app takes a shutdown due to Exception"
• open_sdk 3.2
    • Flutter version 1.12.13+hotfix.8 at c:\dev\flutter
    • Framework revision 0b8abb4724 (3 weeks ago), 2020-02-11 11:44:36 -0800
    • Engine revision e1e6ced81d
    • Dart version 2.7.0

E/AndroidRuntime(11546): Process: no.emsp.dj_sportshall, PID: 11546
E/AndroidRuntime(11546): java.lang.IllegalStateException: Reply already submitted
E/AndroidRuntime(11546): 	at io.flutter.em

[2020-03-03 12:21] dagnorland commented on #11
Priori to this exception I have several :
W/p.dj_sportshal(13617): Unable to resolve Lcom/spotify/protocol/types/Message; annotation class 6
W/p.dj_sportshal(13617): Unable to resolve Lcom/spotify/protocol/types/Message; annotation class 7
W/p.dj_sportshal(13617): Unable to resolve Lcom/spotify/protocol/types/Message; annotation class 7
D/AndroidRuntime(13617): Shutting down VM
E/AndroidRuntime(13

[2020-03-03 13:45] eddwhite commented on #10
I've fixed the issue and created a PR 😄 It was an issue with JSON keys.
I discovered it when I wasn't able to get track duration (same issue, also fixed).

[2020-03-04 12:08] brim-borium commented on #10
Thanks to eddwhite, this is now done for android and already pushed to develop. I will push a new version to pub.dev this evening.

[2020-03-04 12:11] brim-borium commented on #11
Will have a look at this on the weekend

[2020-03-04 13:20] eddwhite opened #13 "PlayerState playback position doesn't update continuously"
When using `SpotifySdk.subscribePlayerState()` in a `StreamBuilder`, the member `PlayerState.playbackPosition` only updates when another member of `PlayerState` changes. You can see this in the example app. You have to click on pause/resume to get the value to change.

I've been trying to see if there is a bug in this SDK but haven't been able to find anything.

I want this to work as I'm trying t

[2020-03-04 13:52] lucavinci commented on #11
I am always getting these every 10-15 minutes in debug mode, but when I release the app it works perfectly and it never crashes.

[2020-03-04 13:58] dagnorland commented on #11
I even have it on my tablet after I have installed the app as an --release apk build.

[2020-03-04 14:31] itsMatoosh commented on #13
This is not a problem with this plugin but rather a limitation of the Spotify SDK itself. The updates are only sent by Spotify [when the player parameters change or randomly during the playback.](https://developer.spotify.com/documentation/web-playback-sdk/reference/)
If you want to implement a track progress bar, you need to cache the last position of the player received from this plugin and then

[2020-03-04 14:47] itsMatoosh commented on #11
This issue happens because the plugin doesn't handle unexpected disconnects from Spotify properly. The plugin will crash whenever the onFailure callback of the Spotify connect method is called more than once.
https://github.com/brim-borium/spotify_sdk/blob/492748a1c90f0fbfa3f6da2e1619d4506463623e/android/src/main/kotlin/de/minimalme/spotify_sdk/SpotifySdkPlugin.kt#L160-L174

The onFailure here can

[2020-03-04 14:58] eddwhite commented on #13
Oh okay, that makes sense. And thanks for the quick response!

I'll implement something this evening and post it here for reference and then close this issue.

[2020-03-04 15:24] brim-borium opened #14 "Handle unexpected disconnects from Spotify"
As @itsMatoosh pointed out:

I will have a look at this

[2020-03-04 16:38] lucavinci commented on #10
Thanks so much @brim-borium and @eddwhite for your work!!!

[2020-03-04 16:44] lucavinci commented on #13
I am using a variant of this snippet I made earlier:
[code]

[2020-03-04 16:46] lucavinci commented on #11
This seems to be a great fix. Introducing an onFailure event will let the users of the package display a custom error message.

[2020-03-04 18:10] #13 closed

[2020-03-04 18:40] brim-borium commented on #14
Will be handled in #11

[2020-03-04 18:40] #14 closed

[2020-03-04 23:20] brim-borium commented on #10
New version has been published

[2020-03-04 23:20] #10 closed

[2020-03-04 23:22] brim-borium commented on #11
Started working on this. You can have a look at my initial thoughts on handling this. Not quite sure yet what's the best way to talk back to the flutter plugin

[2020-03-05 09:04] lucavinci commented on #5
I will also take a look at this in the evening, but unfortunately I do not have prior experience with swift or iOS development.

[2020-03-09 00:07] itsMatoosh commented on #11
@brim-borium I made some changes to your implementation of unexpected disconnection handling. It adds a connection state event that will notify users of the current Spotify connection status and any errors that occur. Please take a look at my PR.

[2020-03-11 18:57] brim-borium commented on #11
@itsMatoosh I merged the changes into the feature branch, will probably test this this weekend, but this looks promising :) thanks!

[2020-03-15 13:27] #11 closed

[2020-03-15 13:38] brim-borium commented on #11
This should be fixed in the new version 0.3.4

[2020-03-18 08:55] lucavinci commented on #5
Any updates?

[2020-03-18 09:30] brim-borium commented on #5
Not from my side. Got my hands full atm because of the Corona crisis :)

[2020-03-18 12:46] trezm commented on #5
I actually began working on this in earnest last night. I'll have an update
and PR in the next few days.

On Wed, Mar 18, 2020, 5:30 AM Tobias Busch <notifications@github.com> wrote:

[2020-03-18 14:59] lucavinci commented on #5
Awesome, thanks for your work guys. I would love to help, but unfortunately I do not have any swift / objective c skills

[2020-03-20 09:28] olmedocr commented on #5
I'm currently developing an app with flutter and I have some experience with swift and the Spotify SDK, so I'll try to contribute to this if I can, instead of using platform channels.

[2020-03-28 15:33] lucavinci opened #19 "Too many logs: 'Unable to resolve ***'"
**Describe the bug**
While running the app, my console is spammed with
`Unable to resolve Lcom/spotify/protocol/types/PlayerContext; annotation class 1761`
logs.
This makes it hard to read any logs from other app features.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any app with this library
2. Look in the console/run-window of the app

**Expected behavior**
Suppress the logs

**Scre

[2020-04-04 09:16] brim-borium commented on #19
I'll have a look into this tomorrow :)

[2020-04-04 10:41] brim-borium commented on #19
A quick look into this revealed that this seems to be an issue with the spotify sdk itself logging too much/not supressing some logs

[2020-04-04 11:19] brim-borium commented on #19
I added the issue to the spotify sdk issue board, still looking for a way to suppress the logs, probably proguard can help here
https://github.com/spotify/android-sdk/issues/226

[2020-04-04 17:00] lucavinci commented on #19
Thank you, should I leave this issue open?

[2020-04-04 17:10] brim-borium commented on #19
Yeah, will close this, when this gets fixed

[2020-04-14 16:04] trezm commented on #5
I tried to get this working on and off for about a month now, and I can't seem to get the spotify framework headers to properly package in a flutter package. I'm going to quit working on it for now as clearly I don't have the expertise required for this and am just spinning my wheels. Sorry all!

[2020-04-22 09:16] helipin14 commented on #5
any updates for this issue?

[2020-05-09 16:19] lucavinci commented on #5
Spotify just opened their developer forum and I created a [thread](https://community.spotify.com/t5/Spotify-for-Developers/Flutter-support/m-p/4950620#M106) about it. I doubt they will help, but I think it would help if everyone here that also wants them to help, maybe likes the thread and/or comments on it to show that many people want this

[2020-05-09 18:25] brim-borium commented on #5
The link doesn't seem to work :)

[2020-05-09 18:26] brim-borium commented on #5
Sorry not right now. I will have a lot of time in a week for a month and will probably have a look at this issue again

[2020-05-14 12:03] jackvdp opened #20 "MissingPluginException when running on iOS device"
When running this app on an IOS device I receive the following error. What am I doing wrong?

════════ Exception caught by services library ══════════════════════════════════════════════════════
The following MissingPluginException was thrown while de-activating platform stream on channel connection_status_subscription:
MissingPluginException(No implementation found for method cancel on channel co

[2020-05-14 12:35] brim-borium commented on #20
Hi @jackvdp iOS is not implemented yet and further work on this is on hold at the moment, because I can't find the time to work on that.

[2020-05-14 13:47] jackvdp commented on #20
Ah that's a shame. I saw that it's under construction for iOS, but was hoping I'd be able to get at least playback info at this point. Fingers crossed you get some time in the future to finish off - great work so far!

[2020-07-08 17:01] brim-borium commented on #20
Closing this issue because this will be handled in #5

[2020-07-08 17:01] #20 closed

[2020-07-13 13:43] PaulDomixApp opened #23 "Longtime token with connectToSpotifyRemote"
The remote spotify connection time out after around 10 minutes so the user need to reconnect to the spotify remote.

Steps to reproduce the behavior:
1. connect to spotify remote
2. launch the spotify player
3. play a playlist
4. The spotify remote is killed after 10 minutes

I want a longtime token to avoid reconnection to the spotify remote

On every devices i tested

[2020-07-13 20:19] #5 closed

[2020-07-28 09:29] irfanbacker commented on #23
I have the same problem. The connection is automatically disconnected after sometime

[2020-08-01 11:11] fotiDim opened #26 "Fetch the Spotify iOS SDK as a pod with an http source"
Instead of having to fetch the Spotify iOS SDK manually using git submodules we could do it through CocoaPods directly using a pod with an http source but it seems that Flutter's CocoaPods implementation does not work as expected in that scenario. I filed a [bug](https://github.com/flutter/flutter/issues/62719) for this so the issue here is just to keep track of this.

The other way out of this pe

[2020-08-02 17:42] fotiDim commented on #23
Not sure how it is supposed to be on Android but on iOS this is standard behavior. When the music is paused then the connection is dropped and you have to reconnect again. Reconnection though is transparent to the user so in general is not a problem.

If disconnection events are not forwarded to the plugin then we need to look into that. For example what happens if you kill the Spotify app while y

[2020-08-06 16:02] irfanbacker commented on #23
There is nothing in the API which we can use to check the connection. The API only provides a connectToSpotify function. It would be really good if that is added.

[2020-08-11 20:32] Joran-Dob commented on #23
Will start investigating the desired behaviour in this case for the package.

It might be nice to inform the developer that the connection dropped.

[2020-09-03 11:02] ollydixon opened #36 "MissingPluginException(No implementation found for method getAuthenticationToken on channel spotify_sdk)"
flutter: \^[[38;5;12m┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────<…>
flutter: \^[[38;5;12m│ #0   SpotifySdk._logException (package:spotify_sdk/spotify_sdk.dart:493:1<…>
flutter: \^[[38;5;12m│ #1   SpotifySdk.getAuthenticationToken (package:spotify_sdk/spotify_sdk.dart:119:<…>
flutter: \^[[38;5;12m├┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄

[2020-09-03 11:06] fotiDim commented on #36
@ollydixon would be nice to mention on which platform you are getting this.

[2020-09-03 11:07] ollydixon commented on #36
@fotiDim thanks for the quick reply. iOS.
Flutter (Channel unknown, v1.17.5, on Mac OS X 10.15.6 19G73, locale en-NO)

[2020-09-03 11:13] fotiDim commented on #36
There are open PRs for iOS. Once merged this will be an non-issue. Closing.

[2020-09-03 11:13] #36 closed

[2020-09-03 11:15] ollydixon commented on #36
@fotiDim ah so it's a known issue, surely the issue should remain open until the PR is merged and tested? (standard procedure)

[2020-09-03 11:18] ollydixon commented on #36
@fotiDim It doesn't look like the PR's a fix for the library?

[2020-09-03 11:24] fotiDim commented on #36
The readme now indicates that it is not implemented, so it is already documented. We can't have an issue for every not implemented feature.
If you want to test it out you can checkout the branch of the PR and provide your feedback there. Better to have the conversation in a single place.

Not sure what you mean. I am talking about [this PR](https://github.com/brim-borium/spotify_sdk/pull/3)

[2020-09-03 11:29] ollydixon commented on #36
@fotiDim ah we spend all morning trying to fix it :-/ thanks for putting it on the README though for future users.

[2020-09-03 11:39] ollydixon commented on #36
@fotiDim we tried implement the framework and it's still broken, same error message. Also, where do we place the framework? Inside Runner? It's not specific at all. 👎

[2020-09-03 11:50] fotiDim commented on #36
Giving thumbs down to people working for free is not really helping. If you find something missing in the documentation then go ahead and make a PR to fix it. This is a community project.

If you have issues on where to place the iOS Spotify framework please open another issue. It has nothing to do with `getAuthenticationToken`.

I suggest that you read the readme carefully and then try to run the

[2020-09-03 12:43] brim-borium commented on #36
Just for clarification, this package at the current state does not support iOS. There is a PR indicating that we are working on the iOS implemention. All of this is in the readme on pub.dev. the readme here indicates the current state of development not the current state of the released package

[2020-09-03 13:12] ollydixon commented on #36
@fotiDim @brim-borium there was no mention of the lack of iOS support on both GitHub and Pub.Dev, instead we had to waste our time trying to use this library. You need handle criticism in development to grow and become more aware of issues like this; it's all fine and dandy that you're making this framework; and I appreciate that just be aware that a lot of folks use Flutter professionally and we

[2020-09-03 14:36] brim-borium commented on #36
By providing this package we probably saved you a lot of money if it would fit your needs. An talking about criticism. There a actually a lot of signs that iOS is not supported at the moment.

First evidence iOS is not mentioned in the supported platforms.

![Screenshot_20200903-163229.jpg](https://user-images.githubusercontent.com/4504079/92128875-2453b680-ee03-11ea-8fcc-f3c889b1500e.jpg)

Second

[2020-09-06 08:14] brim-borium opened #41 "[Android] Implement SetToggle and SetRepeat"
For iOS SetToggle and SetRepeat are already implemented. Android implementation needs to be added

[2020-09-08 11:57] itsMatoosh opened #45 "[iOS] connectToSpotifyRemote() method doesn't throw an exception when Spotify App not installed"
`SpotifySdk.connectToSpotifyRemote()` should throw a PlatformException if Spotify is not installed on the client device. Instead right now, the command executes with no error, however the connection event is never emitted.

[2020-09-08 12:02] fotiDim commented on #45
For the iOS SDK not having Spotify installed is a valid scenario since it should open the web browser instead.
I will have a look and see how I can improve this scenario. Thanks for reporting!

[2020-09-08 12:04] fotiDim commented on #45
Hmm. On second thought, web authentication on iOS is not possible with the current auth flow we are using. I guess returning an error is the way to go. But as I said I will investigate a bit more.

[2020-09-08 12:13] fotiDim commented on #26
Not an issue anymore since we are using a script to fetch the iOS SDK

[2020-09-08 12:13] #26 closed

[2020-09-08 12:23] itsMatoosh commented on #45
I think it should be up to the developers what they decide to do in case Spotify is not installed. Some may want to redirect user to Spotify download link, use an alternative player, open the web player etc. Returning an error is the most universal solution, and it is also how the Android side is implemented.

[2020-09-08 18:06] fotiDim opened #47 "Return an exception instead of failing transparently on iOS"
In some places in the iOS code we are failing transparently instead of returning an exception back to the Flutter side. I will try to align such cases with the Android code.

[2020-09-09 13:45] fotiDim opened #48 "Universal redirect URLs not working"
If the redirect URL is set to be an HTTP(S) URL then the `open url:` callback on iOS is never called and the connection never completes. It does work when the URL uses a custom scheme (e.g. my-app://sth). Not sure if Flutter even supports informing plugins for handling universal URLs.

[2020-09-09 15:31] fotiDim commented on #48
Figured it out. Will be resolved soon.

[2020-09-12 09:27] ollydixon commented on #36
@brim-borium why on earth would you create a flutter plugin for Android only? If you ever see any plugin that does not support iOS and only Android? They usual label that in big text at the start of the README because no one looks at those tags; they assume it is supported.

"Second evidence, there is no instructions for iOS.", are you new to Flutter? Most packages have no iOS install instructions

[2020-09-28 12:59] fotiDim commented on #48
Done

[2020-09-28 12:59] #48 closed

[2020-09-28 13:32] fotiDim commented on #47
There were some improvements regarding this issue thanks to https://github.com/brim-borium/spotify_sdk/pull/46. I will check if there any leftovers not done and then close this.

[2020-09-28 14:12] itsMatoosh opened #53 "Support for track relinking"
The plugin currently doesn't support Spotify [track relinking](https://developer.spotify.com/documentation/general/guides/track-relinking-guide/). This is a process by which Spotify automatically relinks a track which is not available in the user's current market, to the instance of that track which is available in the market (only happens if one track is released multiple times). This means that

[2020-09-28 14:13] itsMatoosh commented on #45
This is now solved.

[2020-09-28 14:13] #45 closed

[2020-09-29 10:49] ollydixon commented on #48
@fotiDim how does this work then? What is the format of the redirect url?

[2020-10-01 14:59] ollydixon opened #55 "SpotifySdk.getAuthenticationToken the code isn't valid for anything?"
Currently the ```SpotifySdk.getAuthenticationToken``` returns a code that can't be used since we can't send properties like ```code_challenge``` as required for Code Exchange (PKCE) (https://developer.spotify.com/documentation/general/guides/authorization-guide/)

I tried to get a refresh token with it and it always failed, example node code

[code]

[2020-10-03 14:28] dormunis opened #56 "spotify-app-remote-release-0.7.1.aar not supported"
**Describe the bug**
When using `spotify-app-remote-release-0.7.1.aar` release of spotify's android sdk, you get a LoggedOutException when trying to build gradle
Just thought you might wanna know

**To Reproduce**
Steps to reproduce the behavior:
1. Download the latest spotify-app-remote-release-0.7.1.aar from spotify sdk
2. Build
3. See error (LoggedOutException) which is not mapped in your excep

[2020-10-05 14:30] Joran-Dob commented on #23
@irfanbacker Could you provide more information about then the connection is blocked on pause as when testing on Android when pausing the playback in the app, in the remote Spotify app and Spotify desktop. I cannot get the connection to drop here.

@PaulDomixApp tried to have the app open longer than 10 minutes and it seems the app example app stays connected to the Spotify remote for 60 minutes a

[2020-10-05 15:01] brim-borium commented on #56
Hi @dormunis thanks for creating the issue. I just had a quick lock into the release changes for 0.7.1

Replaced LoggedOutException usages with NotLoggedInException and removed LoggedOutException completely.
Introduced VolumeState class and added volume control to ConnectApi.

LoggedOutException has been removed completely so we have to change that in the package. I will probably change this durin

[2020-10-05 20:20] Joran-Dob opened #58 "[Web] Implement SetToggle and SetRepeat"
For iOS and Android, SetToggle and SetRepeat are already implemented. Web implementation needs to be added

[2020-10-05 20:20] Joran-Dob commented on #41
Has been implemented on android as well only web remaining. See #58

[2020-10-05 20:20] #41 closed

[2020-10-06 08:58] Joran-Dob commented on #58
Also implemented for web now.

[2020-10-06 08:58] #58 closed

[2020-10-07 09:39] ollydixon commented on #23
We do the refresh and access tokens server side so connection doesn't matter. They always have the latest access token no matter what, it works flawlessly but our current limitation is we need to use a WebView to get the refresh token and access token.

Example code
[code]

I logged an issue here with an example, there's an example here of the node code.
https://github.com/brim-borium/spotify_sdk/

[2020-10-08 21:21] brim-borium commented on #56
@dormunis a new version of the package has been published, please check if you still have the same issues regarding spotify-app-remote-release-0.7.1

[2020-10-11 09:18] fotiDim commented on #19
As the corresponding issue on the native Android SDK has been long standing there seems to be no guarantee that this will be resolved. We are closing this issue and suggest to follow the corresponding issue on the native Android SDK for updates.

[2020-10-11 09:18] #19 closed

[2020-10-11 09:25] fotiDim commented on #55
`getAuthenticationToken()` returns an `access token` not an `authorization code`. You cannot use that token for initiating login flows. There is also no way to get a refresh token from the native Android SDK and consequently not from this SDK. For potential updates follow [this](https://github.com/spotify/android-sdk/issues/255) and [this](https://github.com/spotify/android-sdk/issues/12) issue.

[2020-10-11 09:25] #55 closed

[2020-10-11 09:34] fotiDim commented on #23
I am reading 2 different things in this issue:

Disconnections after music is paused or when Spotify is killed are normal. Use the `subscribeConnectionStatus()` stream to react on them.
Disconnections while playing music did not happen during out testing on either platform. Download the latest release and if you are still experiencing this please open a new issue.

Spotify access tokens are meant

[2020-10-11 09:34] #23 closed

[2020-10-19 09:37] ollydixon commented on #55
@fotiDim thanks for the reply. Are you saying that the web login is the only way to get a refresh token?

[2020-10-22 15:59] fotiDim commented on #55
The native iOS and Android SDKs do not expose the refresh token. You can only get a refresh token by implementing `Authorization Code` flow or `Authorization Code With PKCE` flow but this is totally independent of this SDK.

[2020-10-23 13:56] skyberk opened #63 "Play song with custom notification"
SpotifySdk.play working perfectly but i dont want to use spotify's default sticky notification. Can i hide it or create a custom notification for my app when user play song. Because user shouldnt skip the music in my app scenario.

[2020-10-31 17:32] Guennx opened #64 "Spotify Interaction"
**Describe the bug**
Example codes can't interact with spotify.
(Spotify is installed on the device)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'get auth token' button
2. Sign in
3. See [error])

**Desktop:**
 - OS: Windows 10
 - Build gradle version: 3.5.4

**Smartphone:**
 - Device: Xiaomi Mi Mix 2
 - OS: Android 9

**Additional context**
Also connectToSpotifyRemote method do

[2020-10-31 20:22] fotiDim commented on #64
Did you try to setup your own client id and redirect url?

[2020-11-01 10:50] Guennx commented on #64
Yes I tried but I'm not sure of my url

Redirect url: "https://accounts.spotify.com/authorize"

[2020-11-01 11:21] fotiDim commented on #64
@Guennx that is definitely wrong. Follow the guide [here](https://developer.spotify.com/documentation/android/quick-start/)

[2020-11-01 15:08] Guennx commented on #64
I got auth token by changing my redirect url but I'm still getting "🐛 CouldNotFindSpotifyApp : The Spotify app is not installed on the device" error.

[2020-11-01 19:10] brim-borium commented on #64
So I tried this with the current master checked out and it worked on my side.

Quick question:
For the example code to work you have to add your client id and redirect url from the app the you created on https://developer.spotify.com/dashboard/applications. I guess you already did that.

In this app you created in the spotify dashboard, did you add the Android package and sha1 as shown in the vide

[2020-11-01 19:26] brim-borium commented on #63
Hi @skyberk I did't find a way to do this when the spotify app is installed on your device. It probably would work if you don't have the spotify app installed on your device, but I am not sure right now if the current authentication flow would work then. If you can check out wether it works if the spotify app is not installed on your device

[2020-11-01 22:52] skyberk commented on #63
Hi @brim-borium thanks for responding. Actually i saw working example on Musixmatch application. It has custom sticky notification even spotify app exists. I think they are using web api flow on mobile devices but it may not be legit by Spotify.

https://play.google.com/store/apps/details?id=com.musixmatch.android.lyrify

[2020-11-02 11:39] kalismeras61 opened #65 "Can we play spotify tracks on our app ?"
Hello, this is not a bug, i was using spotify web api as i see we can't get full tracks url. so we cant play full songs on custom made app. If we use SDK like your package can we play music custom made app without needed spotify ?

[2020-11-03 20:17] Guennx commented on #64
Thanks for replying,

I found that the problem was caused by me using a different spotify version, the api works great but I guess it doesn't support all of the spotify methods below. Do you plan to publish a new update on these methods?

![Ekran Alıntısı2](https://user-images.githubusercontent.com/61318808/98035852-2bf70200-1e2a-11eb-998d-bebd3feb846a.PNG)

[2020-11-03 21:09] fotiDim commented on #64
@Guennx can you elaborate on `different spotify version`?

The image you posted shows categories of API endpoints. Most of them are already supported, see the readme file for more. Is there anything specific that you are missing?

[2020-11-03 21:22] Guennx commented on #64
I was using "spotify premium apk" on my test device (unofficial version). I didn't think the problem was caused by this.

I want to search music and playlist, is this possible?

[2020-11-05 08:31] fotiDim commented on #64
For searching you need to use with the Spotify Web API. It has nothing to do with the "Remote SDK". Having said that, you can use the access token you are getting from this library and use it on the web API calls, so you don't have to care about authentication.
This [plugin](https://pub.dev/packages/spotify) might help you with the API calls. Otherwise you have to implement them yourself which is

[2020-11-05 08:31] #64 closed

[2020-11-09 18:59] #65 closed

[2020-11-10 14:11] kalismeras61 opened #66 "subscribePlayerState() duration property doesnt update."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
SpotifySdk.subscribePlayerState(), doesn't stream data. The progress not updating only updating when we click play/pause (state changes)

**Expected behavior**
Duration should update every ms or sec.

**Desktop (please complete the following information):**
 - OS: Android 10

[2020-11-12 12:58] fotiDim commented on #56
Closing because of lack of feedback. If it is still an issue please comment back and we will reopen it.

[2020-11-12 12:58] #56 closed

[2020-11-12 13:00] fotiDim commented on #66
@kalismeras61 did you try the example app? Does it have the same behavior?

[2020-11-12 14:31] kalismeras61 commented on #66
@fotiDim yes it is happening with example app

[2020-11-19 06:55] Runeii opened #67 "Unresolved references in Android project"
**Describe the bug**
Adding `spotify_sdk` to a project seems to throw a lot of Unresolved Reference errors, even without actually having yet used imported the package in to my Flutter lib.

This is using Spotify Auth 1.2.3 and Spotify App Remote 0.7.1 – both appear to be fully installed as expected (see images below).

Could be that I haven't setup my project correctly, but have retried a few time

[2020-11-19 17:33] Davidvision commented on #66
Hi!
I'm having the exact same problem on iOS (14.1), the playback position doesn't update by itself, we need to fire play/pause to get an update.
Any solution on how to solve this ?
Thanks !

[2020-11-22 11:57] fightwithcrayon commented on #67
To follow up on this, I today tried the following steps:

- Create a new, clean Flutter app
- Add `spotify-auth` and `spotify-app-remote` in Android Studio to root `/android` project folder
- To `/android/app/build.gradle` add:

[code]

- Run Flutter app

Build still fails and throws same errors about unresolved references to `spotify` / `SpotifyAppRemote`.

[2020-11-24 20:22] fightwithcrayon commented on #67
Can confirm the issue is resolved by changing to Flutter stable channel version `1.22.2`. This is currently 'resolved', but worth keeping an eye on as `1.24.0` moves towards stable.

[2020-11-24 21:14] fightwithcrayon commented on #67
Issue solved:

The package available from `pub.dev` as `1.0.0` is missing the following lines from `android/build.gradle`:

[code]

Weirdly, I can't see any commit in the last 12 months where these weren't present, so not sure if something has gone wrong in the publishing process.

Regardless, for the time being, installing directly from master works:

pubspec.yml:
[code]

[2021-01-23 21:28] XicoBaiao opened #68 "SpotifySdk.play(<playlist.url>) doesn't work on iOS"
**Describe the bug**
SpotifySdk.play(<playlistUrl>) works ok on Android but not on iOS.
On iOS it opens spotify app and starts playing whatever it was playing before on spotify.
It doesn't return to the app after neither and on android it does.

**Smartphone (please complete the following information):**
 - Device: iphone 8
 - OS: 14.2

[2021-01-24 07:35] fotiDim commented on #68
Did you configure your iOS app (through Xcode) in order to be able to
handle the redirect URI?

Can you reproduce the issue with the example app?

On Sat 23. Jan 2021 at 22:28, XicoBaiao <notifications@github.com> wrote:

[2021-01-24 12:56] XicoBaiao commented on #68
Yes I did everything on "Setup the iOS SDK" part on the guide.
Yes, the example app also fails... Opens spotify and the activity indicator shows a "X" symbol, representing something failed.

[2021-01-24 15:31] XicoBaiao commented on #68
Ok, Solved it.
Solution:
- Use getAuthenticationToken instead of connectToSpotifyRemote
- When adding the redirect Uri to info.plist on xcode, don't use the uri except "://callback" part.
That was it.

[2021-01-29 03:02] Hegezcc commented on #66
Hi folks! This has not been a problem for me as the state still should continue in real time at same pace. Currently I store my references to a `Song` class, which has it's starting time, seek amount (when its play method was called) and length stored (among other things). In any moment of time I am able to compute the current playback position (some `DateTime` and `Duration` calculations involved

[2021-02-04 06:12] ndahlquist opened #69 "getAuthenticationToken()'s "scope" parameter is ignored on iOS."
**Describe the bug**

**To Reproduce**

Request an auth token with a scope parameter, like so:

[code]

**Expected behavior**
I expect the Spotify client to open, and the user to be presented with the option to grant the Spotify app the requested scopes.

- On Android, this behavior works correctly, and all three scopes are requested:

![Screenshot_20210203-220707](https://user-images.githubuserco

[2021-02-05 18:08] fotiDim commented on #63
Closing this. Feel free to reopen there is a way to implement this as requested.

[2021-02-05 19:49] fotiDim commented on #68
I tried to reproduce it but it worked fine. Since you were getting an "X" symbol within Spotify that meant that there was misconfiguration on your side and Spotify refused to authenticate you.
If you used the sample credentials those were invalidated from Spotify a few days ago.
I will improve the documentation a bit to make sure that no configuration steps are missed.

[2021-02-05 19:49] #68 closed

[2021-02-06 10:28] #69 closed

[2021-02-06 10:29] fotiDim commented on #69
It is fixed now thanks to @nishiths23. You can point now your pubspec to latest version from master or wait for the next release.

[2021-02-06 17:03] ndahlquist commented on #69
Thank you @nishiths23 @fotiDim!! 🤗

[2021-02-09 10:24] fotiDim commented on #66
This is not a bug in the Flutter SDK. This is identical to the behaviour of the underlying native SDKs. You can find a corresponding iOS SDK issue [here](https://github.com/spotify/ios-sdk/issues/42). I encourage you to research the corresponding native SDKs before filing bugs.

As you understand we cannot offer this functionality in the Flutter SDK unless the native SDKs support it. You can follo

[2021-02-09 10:24] #66 closed

[2021-02-10 10:02] fotiDim commented on #47
This is complete now with https://github.com/brim-borium/spotify_sdk/pull/71

[2021-02-10 10:02] #47 closed

[2021-02-12 18:56] mattun opened #73 "about scope problem"
[code]

I wanna edit the playlist, so I added playlist-modify-public.
But when moved to Spotify , didn't appear the correct message for playlist-modify-public.

<img src="https://user-images.githubusercontent.com/113253/107809934-39b80e00-6daf-11eb-9f98-6f49da06a511.PNG" width="320">

[2021-02-12 21:22] ndahlquist commented on #73
I think this may be a duplicate of https://github.com/brim-borium/spotify_sdk/issues/69, which was resolved but is pending a release. @fotiDim , would it be possible to get a release of this?

[2021-02-13 05:27] mattun commented on #73
wow great!!! Thanks!! I am looking forward to release too.

[2021-02-13 06:53] brim-borium commented on #73
Hi I will make a new release today or tomorrow :)

[2021-02-14 17:45] brim-borium commented on #73
Update on this:
I made a new PR that I want to merge before releasing the new version: #74
That brings all packages up to date and also fixes some issues we have on pub.dev

[2021-02-15 09:03] brim-borium commented on #73
New version has been released
https://pub.dev/packages/spotify_sdk

Closing this issue now. If you encounter any issues please open a new issue :)

[2021-02-15 09:03] #73 closed

[2021-02-17 16:33] mattun opened #75 "Can I get refresh_token??"
I checked the source. It seems spotify_sdk_web.dart has a method to get refresh_token.
But spotify_sdk.dart doesn't have??

Thanks.

[2021-02-17 17:20] fotiDim commented on #75
There is no way to get a refresh token from the native Android SDK and consequently not from this SDK.

[2021-02-17 21:32] mattun commented on #75
Thanks ,I see. I wanna try to get refresh token throw web api.

[2021-02-17 21:32] #75 closed

[2021-03-06 14:56] sanchman21 opened #77 "Not able to get the authentication token"
The getAuthenticationToken is not working. It redirects me to spotify login and after login, it doesn't generate the access token and redirects me to the base route of my project which i am not even using.

Main.dart
class MyApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      initialRoute:

[2021-03-07 11:43] kalkih opened #78 "getImage() throws ArgumentError (Invalid argument: Instance of 'ImageDimension')"
**Describe the bug**
`getImage()` throws exception `ArgumentError (Invalid argument: Instance of 'ImageDimension')`.
Tried with and without passing in the `dimension` parameter. Also tried with different ImageDimensions, no luck.

Other api methods work fine.

Spotify SDK versions:
- **Spotify app** remote: spotify-app-remote-release-0.7.1.aar
- **Spotify auth**: spotify-auth-release-1.2.3.aar

St

[2021-03-07 21:24] brim-borium commented on #78
Did this work for you with the previous version of the package? I put the ImageDimensions in their own class, seemed to work for the example file.

[2021-03-07 22:29] kalkih commented on #78
I just recently started using this package so **1.0.1** is the first version I've tried.
Great package btw, thanks for your work!

Just tried downgrading to version **1.0.0** and `getImage()` is working as expected on that version.

[2021-03-08 10:14] brim-borium commented on #78
In your file where you use this are you importing the image dimension enum like this ?

`import 'package:spotify_sdk/enums/image_dimension_enum.dart';`

[2021-03-11 17:07] gioboa opened #80 "web: error in application startup"
Hi everyone 👍
I created an application and I followed the [getting started example](https://pub.dev/packages/spotify_sdk/example)

In android works like a charm. 😄
If I run application with "flutter run -d chrome" and in console and in console I find this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create new project
2. copy paste the example in main file
3. add correct spo

[2021-03-15 17:37] oozkaya commented on #78
Hello ! I'm in the exact same situation as @kalkih, is there any news about this ? An alternative ?

[2021-03-15 18:51] brim-borium commented on #78
Hi @oozkaya I will make a hotfix release today reverting these changes

[2021-03-15 18:54] brim-borium commented on #78
@oozkaya quick question, did you try this ?

[2021-03-15 19:48] #78 closed

[2021-03-15 19:50] brim-borium commented on #78
@oozkaya @kalkih This should be fixed, please test this with the new version 1.0.2.

[2021-03-15 19:53] brim-borium commented on #80
@itsMatoosh could you have a look at this?

[2021-03-15 19:55] brim-borium commented on #67
@fightwithcrayon I just published a new version 1.0.2, do you still have the same issues with this version?

[2021-03-15 20:04] oozkaya commented on #78
Thanks @brim-borium  !

Well I only used `Spotify.Sdk.getImage` method with only the `imageUri` argument, so I did'nt need ImageDimensions

Thank you, works perfectly !

[2021-03-15 20:33] #63 closed

[2021-03-15 22:03] kalkih commented on #78
Thanks @brim-borium, works great!

[2021-03-18 05:43] Saurabh-Pandeyy commented on #67
@brim-borium I am still facing the same issues with new version as well.

[2021-03-18 22:32] erikd234 commented on #80
I just ran into the same error after inserting the correct tokens and running it on Chrome.

[2021-03-19 04:33] fotiDim commented on #80
Can you try `flutter run -d web-server`?

[2021-03-19 08:30] gioboa commented on #80
Same error
![error](https://user-images.githubusercontent.com/35845425/111752201-b00bcc80-8895-11eb-87f1-46d940a0afa4.png)
nothing in terminal
![terminal](https://user-images.githubusercontent.com/35845425/111752195-ada97280-8895-11eb-91af-8d819dd8a23a.png)

[2021-03-19 08:53] fotiDim commented on #80
What about this warning you are getting that the app is not configured to build on the web?

[2021-03-19 09:01] gioboa commented on #80
I've notice it right now, I will try to solve it and retry 👍

[2021-03-21 21:57] fotiDim commented on #80
I will try to have a look within the week and report back. @itsMatoosh is the expert for this though.

[2021-03-23 09:06] fightwithcrayon commented on #67
Sorry, I'm not currently working with the SDK. Sounds like @Saurabh-Pandeyy, above, is facing it though.

[2021-03-23 11:52] itsMatoosh commented on #80
I took a look at this issue and it seems to only happen when running in debug mode. I tried manually loading the tslib library through a <script> tag, but that doesn't seem to fix the issue.
It seems that the Javascript code of the application run in debug mode is somehow conflicting with the spotify-player.js script loaded from Spotify.
Weirdly enough, I'm not experiencing this problem in a produ

[2021-03-24 16:45] MadsEibye opened #83 "Disconnect method doesn't work. Throws unhandled exception."
**Describe the bug**
The applicaton crashed when trying to disconnect the app from spotifysdk. It throws an unhandled exeption with error message "The method '+' was called on null.". Seems like some sort of issue with the sdk, since I have just used the disconnect method. Everything else in the sdk works just fine for me.

**To Reproduce**
Steps to reproduce the behavior:
I believe the error is n

[2021-03-25 01:28] erikd234 opened #84 "Unable to use RE-direct URL on spotify web"
Hi I am new to flutter web development and I cant get Spotify to authenticate on the web. Right now I have set my redirect URL to my http://localhost:63389 where my flutter app is running after calling
SpotifySdk.connectToSpotifyRemote()

I get to this page here
![image](https://user-images.githubusercontent.com/76464314/112404894-6f191b00-8cce-11eb-8a2f-6a6bd321bb83.png)
when I proceed after givi

[2021-03-25 02:28] rish07 commented on #84
Hey, @erikd234 have you whitelisted this redirect URL in the Spotify dev console?

[2021-03-25 02:36] erikd234 commented on #84
Yes I have. i have double checked this as well.

[2021-03-27 12:23] brim-borium commented on #83
Hi @MadsEibye I tested the behavior with the example app included in the package and was not able to reproduce this.

You have to call the connectToSpotifySdk yourself again after you requested the disconnect. But also this seems to work on the example.

Could you add the code that calls the disconnect method you provided here?

[2021-03-27 12:58] brim-borium commented on #80
@itsMatoosh @gioboa Is there anything we can do on our end then ? Or can this issue be closed?

[2021-03-27 13:00] gioboa commented on #80
So the problem is only in debug mode?

[2021-03-27 13:01] brim-borium commented on #77
@itsMatoosh any idea what could be the issue here?

[2021-03-28 14:57] erikd234 commented on #84
@itsMatoosh Hello Matoosh,  i think my problem is I dont understand what a redirecct url does. What should I put as a redirect url if my local application is running on  http://localhost:63389 ? What even is a redirect url?

[2021-03-29 09:11] fotiDim commented on #84
Closing this as this is a support question. It is mostly suited for Stack Overflow. Nevertheless to get you unstuck the redirect url is used by Spotify (needs to be registered under your dev console) in order to redirect back to your app after successful authentication. I suggest to read the official Spotify documentation for this. In your case you can set `http://localhost:63389/` at the redirect

[2021-03-29 09:11] #84 closed

[2021-03-29 09:15] fotiDim commented on #77
@sanchman21 can you try running on Android? We have to see if this is a bug or a misconfiguration on your side.

[2021-03-29 17:38] itsMatoosh commented on #84
@erikd234 It is important that the redirect URL you specify points to a page with HTML contents as specified in the readme.
When Spotify authenticates the user, it will redirect them to the redirect URL. The script on that page will then communicate with the spotify_sdk plugin to complete the authentication.

[2021-03-29 17:42] itsMatoosh commented on #77
@sanchman21 Did you make sure that the page at the redirect URL has the HTML contents as specified in the readme?

[2021-03-29 17:52] erikd234 commented on #84
Thanks for getting back to me! I had the script in the read me on a live
website that I own and not on my local host. To specify For I was running
the flutter application on localhost and I made the redirect url a live
website with the read me HTML page. Would that be why it isnt working? Do i
need to make sure that both the html contents in the readme and my web app
are on the same domain?

On Mo

[2021-03-29 18:13] gioboa commented on #80
I close the issue 👍

[2021-03-29 18:13] #80 closed

[2021-03-29 18:41] erikd234 commented on #84
@itsMatoosh Now after I authenticate my app and the redirect url works properly I am getting this error in flutter V 2.1.0-13.0.pre.175.
![image](https://user-images.githubusercontent.com/76464314/112883510-3d63d380-9083-11eb-8973-b523d5601677.png)
To reproduce this error just run the flutter example in debug mode, hot restart once otherwise the connect to Spotify button wont work (due to the web

[2021-03-29 21:56] erikd234 commented on #84
Further update, the redirect URL must be working because I successfully obtain an authenticationToken whenever I run SpotifySdk.getAuthenticationToken I keep getting the same error above "connectToSpotify failed with: TypeError: Cannot read property 'Player' of undefined". I even tried passing the the authentication token as a parameter to connectToSpotifyRemote(). Still no luck? Any ideas and sho

[2021-03-29 22:10] erikd234 commented on #84
![image](https://user-images.githubusercontent.com/76464314/112906227-b291d180-90a0-11eb-973b-bbf7d2cb4da3.png)
Could this issue have something to do with the dart interacting with JavaScript @JS("Spotify.Player").

[2021-04-02 10:55] itsMatoosh commented on #84
@erikd234 I believe the error you're getting is related to the app running in debug mode. As you mentioned, there is currently an error when initializing the player in debug mode.

Whenever the Spotify Web SDK loads correctly, it calls the "onSpotifyWebPlaybackSDKReady" callback, which in turn sets up the Spotify player with this plugin. Because of the debug mode error, this callback never runs.

[2021-04-02 10:56] itsMatoosh commented on #84
@erikd234 Regarding the redirect URL, I believe it needs to be hosted on the same domain as your app because of the CORS policy of the browser.

[2021-04-04 23:58] mcookhome opened #86 "Currently-selected song begins playing when connecting to Spotify on iOS"
**Describe the bug**

When opening an app integrating the SDK on iOS (for two iPhones with different versions), the Spotify app opens and plays the current song. Using breakpoints, I was able to pinpoint the last line of code before the Spotify app was opened to within the SDK [here](https://github.com/brim-borium/spotify_sdk/blob/a6d9f2010294477b4d452636029c4cf05c3bccc5/lib/spotify_sdk.dart#L59-L

[2021-04-05 07:44] fotiDim opened #87 "Authentication scopes for web are hardcoded"
Currently for the web implementation the scopes are hardcoded within `spotify_sdk_web.dart`:

[code]

We should be taking them from `SpotifySdk.getAuthenticationToken` or `connectToSpotifyRemote `.

[2021-04-05 08:05] fotiDim opened #88 "RFC: Minimise external dependencies"
This is a request for comments. It seems to me that this library depends on too many external dependencies. In general there is little wrong with that but it can lead to some issues:
- People rejecting this library because of the amount of external dependencies
- People having version conflicts in their dependencies if they are including a different version of the same package
- Increased overhead

[2021-04-06 22:53] itsMatoosh commented on #83
This is possibly fixed by #89

[2021-04-07 17:59] ndahlquist opened #91 "subscribeConnectionStatus on Android crashes due to null-safety issue"
**Describe the bug**

After upgrading from 1.0.2 to 2.0.0, I am seeing the following crash:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Call `SpotifySdk.subscribeConnectionStatus().listen(callback)`;
2. Observe error, and that the callback is not invoked.

**Expected behavior**
The callback is invoked successfully.

**Smartphone (please complete the following information):**
 - D

[2021-04-07 18:46] brim-borium commented on #91
Will have a look at it, probably tomorrow or on the weekend

[2021-04-08 00:14] ndahlquist commented on #91
Tried my hand at a fix, hope that helps!

[2021-04-08 10:36] fotiDim commented on #91
Thanks for the PR. Let's close this after the next release.

[2021-04-10 07:43] brim-borium commented on #88
I will have a look at this.

[2021-04-10 08:55] brim-borium commented on #88
So what I found out so far:

I think we can replace dio with http, but I would go a step further and move the http calls to its own clients for the web api, so this will be usable in the future if we want to extend the functionality of the sdk to provide web api connections-> using web api calls from android or ios. Regarding this @itsMatoosh are we currently using this in the web implementation?

[2021-04-10 11:46] fotiDim commented on #86
@mcookhome this is "potentially" fixed now. Allow me to clarify "potentially"...
The native Spotify iOS SDK supports two authentication methods,`built-in authorization flow` and `SPTSessionManager`. This library uses exclusively `built-in authorization flow` for reasons of simplicity and consistency with Android and Web.

When using the `built-in authorization flow` Spotify will be suspended if it

[2021-04-12 04:54] catach opened #95 "Can't install dependency on iOS"
**Describe the bug**
I just added the dependency as explained on the guide, but I'm getting an error related to ./prepare-iOS-SDK.sh

**To Reproduce**
Steps to reproduce the behavior:
1. flutter pub pub add spotify_sdk
2. open iOS Simulator
3. flutter run

**Expected behavior**
It should start the app

**Desktop (please complete the following information):**
 - OS: Mac OS 10.15.7

**Smartphone (pl

[2021-04-12 16:33] fotiDim commented on #95
Thanks for the report. The issue seems to be the line endings within the `prepare-iOS-SDK.sh` script.  This commands fixes it `sed -i '' $'s/\r//' prepare-iOS-SDK.sh`. However this file has not changed since 2020 and it used to work so there must be an update in the tooling that caused this. We will have to investigate a bit more.

[2021-04-12 19:54] fotiDim commented on #95
OK I think I am getting somewhere. The last release for some reason is broken.

If I go on https://pub.dev/packages/spotify_sdk/versions and download 1.0.2, `prepare-iOS-SDK.sh` has LF (Unix) line endings but if I download 2.0.0, the same file has CRLF (Windows) line endings which makes the script fail.

At the same time the file has the correct LF line endings on GitHub.

@brim-borium I will need

[2021-04-12 21:20] brim-borium commented on #95
For a release I just check out the main branch and release from the terminal. Working on a macbook. So this is very weird... We can check for the 2.1.0 release of this is still happening.

Release process
https://flutter.dev/docs/development/packages-and-plugins/developing-packages#publish

[2021-04-12 22:13] lucavinci commented on #95
I had the same issue using v2.0.0 from pub.dev, but using the main branch everything works perfectly.

`  spotify_sdk:
    git:
      url: git://github.com/brim-borium/spotify_sdk.git
      ref: main`

[2021-04-13 05:13] fotiDim commented on #95
Let's check a couple things before releasing 2.1.0. After checking out the repo can you open `prepare-iOS-SDK.sh` in VSCode and check the status bar if it reports LF or CRLF?
<img width="863" alt="Screenshot 2021-04-13 at 08 09 19" src="https://user-images.githubusercontent.com/2326415/114499995-e8ea5780-9c2f-11eb-9932-1a4d008e49d9.png">

Can it be that you have a`.gitattributes` somewhere, either

[2021-04-13 07:01] brim-borium commented on #95
So this is LF for me in vs code and also android studio. And I could not find any .gitattribute local or globally 🤷

[2021-04-13 21:58] TarunGunampalli opened #96 "Invalid Authorization Code Error"
**Describe the bug**
I use the given getAuthenticationToken function which returns an Authentication Token and seems to work correctly. However, when I proceed to use the returned token to try to get an access token by passing it in the body to a call to https://accounts.spotify.com/api/token, I receive this error: `{error: invalid_grant, error_description: Invalid authorization code}`
Right now t

[2021-04-15 21:52] mcookhome commented on #86
Awesome!! Thanks so much @fotiDim - can I start using version 2.1.0 now, or do I need to wait for a release? I only see version 2.0.0 on the [pub.dev page](https://pub.dev/packages/spotify_sdk/changelog):
![image](https://user-images.githubusercontent.com/5422547/114943026-0293c680-9e0b-11eb-87e7-a5d54fadcd2b.png)

[2021-04-16 05:37] fotiDim commented on #86
No need to wait. You can use this in your `pub spec.yaml` to get the latest version from the repo.

[code]

Let me know how it works for you.

[2021-04-16 16:04] itsMatoosh commented on #88
@fotiDim We could definitely remove dio and make use of http instead.

@brim-borium In the web implementation we are using both the Web Playback SDK and the Web API. The playback SDK only allows for creating a new player in the browser, but doesn't provide functions such as play(), pause() etc. So the player is created using the Web Playback SDK and controlled using the Web API.

Regarding the lib

[2021-04-16 21:07] fotiDim commented on #88
@itsMatoosh regarding the Web Playback SDK according to this [page](https://developer.spotify.com/documentation/web-playback-sdk/) it does support `Control local playback (pause, resume, volume, etc)`. Are you sure the web api is needed for this?

Regarding `Synchronized` I understand what you are trying to achieve. Wouldn't something like [this](https://stackoverflow.com/a/52708141/2700613) have

[2021-04-18 00:34] itsMatoosh commented on #88
@fotiDim Yes, these methods are implemented using the Web Playback SDK already, however methods such as play(Track) are not available on the Web Playback SDK and therefore I had to use the Web API for that.

The stream approach to make a queue of getAuthenticationToken requests seems interesting. I suppose we could implement it by using a StreamController that accepts some kind of a callback funct

[2021-04-18 06:15] #87 closed

[2021-04-19 06:38] brim-borium commented on #91
The new release `2.1.0` is out and should fix the issue. Closing

[2021-04-19 06:38] #91 closed

[2021-04-19 06:39] brim-borium commented on #83
@MadsEibye we released a new version, do you still have this issue ?

[2021-04-19 06:42] brim-borium commented on #95
Released the new version `2.1.0` and when downloading the package from pub.dev the mentioned file has the correct line ending

@fotiDim can you check if this is solved now?

[2021-04-19 07:02] fotiDim commented on #95
Yes looks good

[2021-04-19 07:02] #95 closed

[2021-04-20 17:27] alexrasla opened #97 "GeneratedPluginRestriant.o Undefined Symbols for _OBJC_CLASS_$_SpotifySdkPlugin"
I’ve into an issue where the SpotifySdkPlugin is not recognized in an automatically generated file GeneratedPluginRegistrant.m in Xcode. The output of my terminal log is shown below. I have the spotify_sdk installed in my .symlinks directory of my project, and have tried a variety of commands such as `flutter clean; rm ios/Podfile ios/Podfile.lock pubspec.lock; rm -rf ios/Pods ios/Runner.xcworkspa

[2021-04-21 08:24] fotiDim commented on #97
I couldn't reproduce the issue. Can you try to upgrade to the latest flutter version (2.0.5) and start a fresh project with `flutter create test_project`? Then add `spotify_sdk: ^2.1.0` to `pubspec.yaml` and see if you can run it.

[2021-05-07 07:47] fotiDim commented on #97
Closing this as stale. Feel free to comment if you are still facing the issue.

[2021-05-07 07:47] #97 closed

[2021-05-07 07:48] fotiDim commented on #83
Closing this as stale. Feel free to comment if you are still facing the issue.

[2021-05-07 07:48] #83 closed

[2021-05-07 07:49] fotiDim commented on #77
Closing this as stale. Feel free to comment if you are still facing the issue.

[2021-05-07 07:49] #77 closed

[2021-05-08 15:16] Nirmitjatana opened #99 "Auth for android"
I am getting this issue, while trying to run the app. I am only using auth service as of now

**Screenshots**
![image](https://user-images.githubusercontent.com/52108077/117544269-45c60b80-b03e-11eb-8b4d-dfef10babbfd.png)

[2021-05-08 18:59] Nirmitjatana commented on #67
@fightwithcrayon I am unable to add Spotify Auth 1.2.3 and Spotify App Remote 0.7.1, can you tell me how to import

[2021-05-08 20:53] brim-borium commented on #67
HI @Nirmitjatana did you follow the instructions on how to add the modules from the readme? You can find a How-to for adding the modules here https://developer.spotify.com/documentation/android/quick-start/

[2021-05-08 20:54] brim-borium commented on #99
@Nirmitjatana it seems that you didn't add all modules, you have to add auth and appremote. Follow the instructions from the readme, especially this part from https://developer.spotify.com/documentation/android/quick-start/

[2021-05-08 20:56] Nirmitjatana commented on #67
Yeah I did, unfortunately after the new flutter update I am not to import .aar file as a module. I tried adding the files manually also, ran into some other errors.

[2021-05-08 21:07] Nirmitjatana commented on #67
There is no option anymore on android studio to import .jar/.aar files as a module in a flutter project anymore.

[2021-05-10 09:50] brim-borium commented on #67
I will have a look at this and post my findings in the other ticket you opened, https://github.com/brim-borium/spotify_sdk/issues/99.

I think the issue in this thread is not part of you problem :)

[2021-05-10 22:19] mcookhome commented on #86
Hey @fotiDim, unfortunately I'm finding the bug to still occur:

Here's a snippet of my `pubspec.yaml`:
[code]

I've run `pod install`, `pod upgrade`, re-installed my app multiple times on the target phone, and each time it still plays the targeted song when opening my app. I simply don't know what I'm doing wrong.

I had also tried using version `2.1.0` which had said it offered some of the other

[2021-05-10 22:20] mcookhome commented on #86
Regardless, I don't think issue should remain closed, as it's still an active issue

[2021-05-11 07:38] fotiDim commented on #86
@mcookhome do you pass a spotifyUri? If yes which one?

[2021-05-14 11:40] NoahIles opened #100 "Not properly Initializing Spotify js dependencies"
**Describe the bug**
Every time I restart my Flutter App I need to hot reload after attempting connection to the API.  Bug occurs on both Android emulator and flutter for web.

**To Reproduce**
Steps to reproduce the behavior:
Fully Stop and restart the app

**Expected behavior**
I expect to not need to hot reload in order to utilize your package/

**Screenshots**
This is the only exception I get.

[2021-05-14 22:15] mcookhome commented on #86
I don't pass a `spotifyUri` at all at the moment. here's the snippet of dart code where I connect to spotify:
[code]

In that snippet, the `creds` parameter is populated with my spotify client ID and redirect URI. otherwise, I'm not passing a URI at all.

[2021-05-14 22:16] mcookhome commented on #86
You can also see my attempts at passing an `accessToken` which we talked about in Slack - but it didn't successfully allow me to avoid opening the app, so I will likely eventually remove that as well.

[2021-05-15 17:51] fotiDim commented on #86
You need to pass a SpotifyURI:
[code]

For the other issue:
- Are you sure you're using 2.1.0 version of the package?
- How do you obtain the accessToken that you are eventually passing?

[2021-05-15 17:59] mcookhome commented on #86
The problem with that is that if I pass a `spotifyUri`, then if the music _is_ currently playing on the user's Spotify app, then their music will stop. It will be the inverse of the problem I'm trying to solve. I'd like to be able to check the play state to determine whether or not I'll need to pass the `spotifyUri`, but to check the play state, I need to connect to the spotify SDK...

Is there an

[2021-05-15 20:20] fotiDim commented on #86
I see. There is this native iOS SDK method that we could expose:

[code]
I believe it provides the information that you need. However automating `spotifyUri` using the logic you described, I believe should be done by the end developer and not this SDK as the native SDK also does not do this.

[2021-05-16 21:41] fotiDim commented on #86
@mcookhome regarding the `accessToken` issue I reverified that it works. If it does not work for you you might be doing something wrong. If the issue persists please open another issue to keep the discussions separate.

[2021-05-16 22:35] fotiDim commented on #88
Loosely relevant topic, it seems we have some overlap with the [spotify-dart](https://pub.dev/packages/spotify) package in the web implementation. For example authentication or some web API methods that we use like the [play](https://github.com/rinukkusu/spotify-dart/pull/94/files) endpoint. Are there any parts that interest us that we could potentially adopt?

[2021-05-26 01:27] mcookhome opened #101 "2.1.0 won't build for Android"
**Describe the bug**
I am not able to build my app on Android when moving from version 1.0.0 to 2.1.0.

**To Reproduce**

Use ^2.1.0 as version for spotify_sdk in pubspec.yaml, build app.

**Expected behavior**
I expect the build to pass.

**Error message**

Here's the error message I get, which is coming from this package:
[code]

I cannot use this newest version on Android phones for this reason

[2021-05-26 01:31] mcookhome commented on #101
It seems like it's coming from [this line of code](https://github.com/brim-borium/spotify_sdk/blob/35a7815b0d90dd9418219d3a777de5d3737dc301/android/src/main/AndroidManifest.xml#L9).

That line was introduced by [this commit](https://github.com/brim-borium/spotify_sdk/pull/76/files#diff-93083d0574bec8be4b25f798b65dd82a612412c23a79dc9bdfdfb4a6b7ab37a3R9).

I don't think I'm doing anything wrong from

[2021-05-28 12:21] marwfair opened #102 "Add getCapabilities support for iOS and implement skipToIndex"
Just creating an issue to implement these features. I need these features for a project and will put up a PR soon.

[2021-05-28 19:51] mcookhome commented on #101
@fotiDim, if I understand correctly, you work on the iOS part of this project, but do you mind helping put me in contact with someone to discuss this issue with? I may be doing something wrong, but I'd really like to be able to upgrade to 2.1.0 so I can use the improvements you added to the library in that version 😄 .

Any help would be greatly appreciated! thanks

[2021-05-29 12:17] brim-borium commented on #101
Hi @mcookhome I will have a look at this sometime tomorrow in the evening :)

Quick question, are you using Android studio or Vs code for development and which version are you using?

[2021-05-29 14:03] mcookhome commented on #101
Hey @brim-borium, thanks so much for taking a look!

I'm using Android Studio for development - here's the `About Android Studio` details:

![image](https://user-images.githubusercontent.com/5422547/120073124-0ac75e80-c065-11eb-8bc3-b52a7a23ffef.png)

Please let me know if there's any more information I can provide, or if I need to update, or anything. Thanks!

[2021-05-30 16:08] brim-borium commented on #101
So after further investigating I figured out why this line was added:
https://community.spotify.com/t5/Spotify-for-Developers/Why-can-t-I-use-the-SDK-on-Android-OS-11/td-p/5061178

We need this to be able to build on Android 11. @mcookhome which android version are you using?

[2021-05-30 17:10] mcookhome commented on #101
Hi, thanks for the update!!! My device is on Android 11.

This worked for me and solved the problem!

I changed this line:
[code]

to be

[code]

in my build.gradle file, and the build worked just fine! thanks so much for your help!

[2021-05-30 17:10] #101 closed

[2021-05-30 17:14] brim-borium commented on #101
@mcookhome glad I could help :)

[2021-06-02 17:42] max-novak commented on #100
![image](https://user-images.githubusercontent.com/42859327/120526341-ac570300-c40b-11eb-8c6f-b1bcf65d9523.png)

I have only ran flutter with web using this package

Both spotify_sdk: ^2.0.0 and spotify_sdk: ^2.1.0 output the same error when I run
`var result = await SpotifySdk.connectToSpotifyRemote(clientId: dotenv.env['CLIENT_ID'].toString(), redirectUrl: dotenv.env['REDIRECT_URL'].toString());

[2021-06-07 06:07] Raj2503 opened #109 "Access to User's Playlist"
I am working on a project where I want to play the User's private playlists.

Is there any way of implementing this using **spotify_sdk**?

[2021-06-07 06:57] brim-borium commented on #109
Hi @Raj2503  :)

From the spotify documentiaon (for the android sdk)

### play(java.lang.String uri)

Play the given Spotify uri. Supported uris currently include:

- Track - example: spotify:track:6rqhFgbbKwnb9MLmUQDhG6 Album - example: spotify:album:2VYSDvc0ZdcfkXDcYVjHs6
- Artist - example: spotify:artist :4SJSGUVZ04tezaGrxc96EE
- **Playlist** - example: spotify:<user<:playlist::7hJSGUVZ04tevaG

[2021-06-07 07:15] brim-borium commented on #109
And I see that we are currently not using the given scopes on android because we are using the app remote sdk, this automatically takes the [app-remote-control](https://developer.spotify.com/documentation/general/guides/scopes/#app-remote-control) scope.

For scopes we have to implement [this flow](https://developer.spotify.com/documentation/android/guides/android-authentication/)

So please just

[2021-06-07 08:30] Raj2503 commented on #109
Hey @brim-borium,
Thanks for responding so soon :)

I have used `connectToSpotifyRemote()` to gain remote access to Spotify with
`scope: 'user-read-private,playlist-read-private'`.

But to play a track or playlist, you need a `Spotify URI` corresponding to it.
I am able to play tracks and public playlists(like top 50/100 charts) by hardcoding their URI with I gain from the Spotify App.
`Example -

[2021-06-07 09:11] brim-borium commented on #109
Currently spotify_sdk only implements auth and remote sdk's from spotify for controlling the playback (and some other stuff 😄) so we can't get for example a users playlist URI.

If you want to get a URI you have to use the web api with the token generated from`getAuthenticationToken()` with the scopes you used.

The web api you have to implement by yourself using for example the [http-package](htt

[2021-06-07 10:12] Raj2503 commented on #109
Okay, I was trying to avoid using web API and get a faster way to do that but looks like I don't have a choice now lol.
I will look into the web API guides.

But do try to implement it.
It would really helpful to Flutter-Spotify developers if you are able to come up with something of that sort.

Thanks a lot :)

[2021-06-07 10:19] fotiDim commented on #109
I concur. Web API is the way to go. You need to call `https://api.spotify.com/v1/me/playlists/`. What you need to try is request the `playlist-read-private` scope using this SDK and then see if you can reuse the access token on the web API. It should work on iOS. Not sure about Android.

You can use the [spotify](https://pub.dev/packages/spotify) package to perform the web requests. To reuse the t

[2021-06-07 10:51] brim-borium commented on #102
@marwfair can this issue be closed?

[2021-06-07 11:10] fotiDim commented on #109
We should document this. On iOS there is no difference between `connectToSpotifyRemote` and `getAuthenticationToken` as they are both using the same mechanism. Maybe we should add a paragraph about "additional scopes" and state that in that case use `getAuthenticationToken()` to minimize confusion.

[2021-06-07 14:22] marwfair commented on #102
@brim-borium Yes. This issue has been resolved.

[2021-06-07 14:22] #102 closed

[2021-06-07 20:52] fotiDim opened #110 "Cover the entire API in the example app"
Currently we are missing showcasing some of the package's APIs in the example app, namely:
- subscribeUserStatus
- subscribeCapabilities
- getLibraryState
- getCapabilities
- removeFromLibrary
- skipToIndex

It would be nice to have those as well for the sake of completeness.

[2021-06-08 14:07] ritvij14 commented on #67
I am getting this same issue and I am unable to solve this. Please guide me on how to solve this.

[2021-06-12 19:58] nzoschke commented on #100
This might be a dupe of https://github.com/brim-borium/spotify_sdk/issues/80

The error goes away if you run your app with `flutter run -d chrome --release` (vs default debug mode)

[2021-06-20 18:04] Tom3652 opened #111 "Support the Spotify Web API"
**Feature :**

I simply would like to fetch songs / artists from Spotify in my Android / IOS app as it is possible using the Web API with HTTP requests.

**Solution :**

This would not require to open the Spotify application or anything, simply by providing credentials to log in the developper account on the client side.
We are not fetching a specific user content, but the Spotify general content

[2021-06-20 19:58] nzoschke opened #112 "On Web the SDKs always open the Spotify consent popup"
**Describe the bug**

It doesn't seem possible to initialize the SDK with a good token without sending the user to the Spotify consent popup.

On the web platform, both getAuthenticationToken and connectToSpotifyRemote always open the consent popup.

In experiments with the Spotify web playback SDK and API client in other web projects, it's possible to avoid the consent popup as long as I have a v

[2021-06-20 20:09] nzoschke commented on #112
In `spotify_sdk_web.dart`, connectToSpotify is always calling `await _authorizeSpotify` which opens the auth window. I am investigating a patch to pass an existing token to the SDK to avoid this.

[2021-06-20 20:52] EagleOne33 opened #113 "Is there a way to get the Authorization code?"
I'm trying to find a way to get the correct credentials through the Spotify App in order to avoid to make the user re-enter his Spotify credentials in the web interface (very often they are logged in Spotify App and don't even remember their password...).

So I would like to query authorization to the Spotify App and then keep this alive with a refresh token.
I have found a correct way to do that

[2021-06-22 08:40] fotiDim commented on #111
You might be looking into the wrong project. The purpose of this library is not to expose Spotify's web API but to provide Flutter bindings for the native Spotify SDKs. We can only provide whatever the native SDKs provide.

[2021-06-22 10:06] fotiDim commented on #113
This SDK can only do what the native SDKs do. At least on iOS obtaining the authorization code is not possible. Not sure about Android.

I would like to understand a bit more your scenario. Why do you need to refresh tokens on your own? It is handled by the native SDK. You can just reuse the same token on the web API.

[2021-06-22 10:36] EagleOne33 commented on #113
My use case is the following:
- Through my App you give authorisation to follow your Spotify activity
-  from a deported server, the current activity of the user is followed. Using the credentials retrieved at step above.

The reason is that the app could not stay awake to guarantee that it was still following the Spotify activity (at some point Android was killing the process - to save as much ba

[2021-06-22 12:37] fotiDim commented on #113
It seems to me that you cannot avoid having to login at least once. It is
the only way to get a refresh token and then send it to you server.

You could also potentially setup a system with push notifications that wake
up the app and send the refreshed access token to your server.

On Tue 22. Jun 2021 at 13:36, EagleOne33 ***@***.***> wrote:

[2021-06-22 12:40] Tom3652 commented on #111
Thanks for your reply, i am going to close this as it is out of scope then

[2021-06-22 12:40] #111 closed

[2021-06-22 12:40] EagleOne33 commented on #113
Well on Android I managed to do it with the SDK. MyApp was opening the SpotifyApp for getting the autorisation code and that was it.
From there I could manage from the server side. Much more convenient from a user perspective (no need for him to enter again his credentials).

[2021-06-22 13:40] fotiDim commented on #113
iOS and Android use different authentication mechanisms. Just to clarify,
on Android, are you able to get the authorization code without ever
requiring the user to enter his credentials if he we was already logged in
in the app?

On Tue 22. Jun 2021 at 15:41, EagleOne33 ***@***.***> wrote:

[2021-06-22 13:47] EagleOne33 commented on #113
Exactly

[2021-06-22 15:02] fotiDim commented on #113
Then the Android Spotify app must be storing the username and the password of the user somewhere. That seems questionable from a security standpoint.
On iOS there is alternative [flow](https://github.com/spotify/ios-sdk/blob/master/docs/auth.md) that does return the refresh token but is not supported by this SDK. We could accept a PR if this is something that you want to pursuit.

[2021-06-22 15:50] EagleOne33 commented on #113
If it only works on iOS there is small value

[2021-06-29 08:15] fotiDim commented on #113
I am closing this as "won't fix". For the time being there is no plan (or even possibility) to support alternative flows. Feel free to comment if you want it reopened and plan to submit a PR.

[2021-06-29 08:16] #109 closed

[2021-06-29 08:17] fotiDim commented on #100
@NoahIles did you address the issue?

[2021-07-01 03:02] nzoschke opened #118 "Web SDK subscribePlayerState `Uncaught TypeError: null: type 'minified:p1' is not a subtype of type 'bool'`"
**Describe the bug**

The Web SDK subscribePlayerState method is no longer streaming player state events. Instead its returning an error in the JS console:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Follow the docs for the web SDK and define a

[code]

**Expected behavior**

I expect the player state stream function to be called with player state events;

**Screenshots**
If applic

[2021-07-02 22:21] irfan-429 commented on #99
When I tried with the old version of Android Studio where it have option to add .jar/.aar files via the dialogue it worked successfully.

[2021-07-02 22:24] irfan-429 opened #120 "How can I get the current playing track's duration counter?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-03 08:51] brim-borium commented on #120
Hi @irfan-429 just to clarify to you mean the current playbacktime?

[2021-07-05 08:22] #118 closed

[2021-07-06 01:01] nzoschke commented on #53
I'm having a relinking challenge. Sometimes I do `play(uri)` and the resulting event comes in with different track URI.

So I took a stab at this but couldn't get it working.

It doesn't help that track linking isn't documented on the Web Playback State docs:

https://developer.spotify.com/documentation/web-playback-sdk/reference/#object-web-playback-state

Here is what I tried...

[code]

[2021-07-07 06:16] #53 closed

[2021-07-13 08:20] andriy-gulak-ew commented on #99
I've faced the same problem on Android Studio 4.2. Is there any solution to this problem?

[2021-07-13 09:02] andriy-gulak-ew commented on #99
I've found a solution/workaround. If you are on Android Studio 4.2+ you need to manually do all the things that the option to add .jar/.aar files did via the dialogue:
1. Open the android folder of your flutter project as an Android Studio project
2. In the android root folder create 2 folders spotify-app-remote and spotify-auth and place the corresponding aar files and create empty build.gradle f

[2021-07-14 06:05] andriy-gulak-ew commented on #99
@brim-borium
Yes, it can be part of the package, but in this case, you have to take care of spotify-app-remote and spotify-auth aar versions under the hood of your plugin which is not ideal.

[2021-07-28 11:24] Rayyanmaq1 opened #126 "Cann't play selected track with SpotifySdk.play()"
**Describe the bug*
I am using Spotify package for Searching song through title and Spotify_sdk package for authentication and play song but I am unable to play the selected song I am passing the spotifyuri of the selected track but i play some different song mostly.

Here are the packages that i am using
1. Go to 'https://pub.dev/packages/spotify_sdk'
2. Go to 'https://pub.dev/packages/spotify'

[2021-08-03 15:18] AlexFox63 commented on #126
Your spotify account need a premium subscription for playing selected track else spotify playing random track

[2021-08-05 16:07] irfan-429 commented on #120
Yes exactly!!

[2021-08-05 21:02] irfan-429 opened #127 "There is a pause in the playback."
When I play any track for the first time from my List of songs, it takes a pause around 4-7 seconds and then plays the song.

[2021-08-05 21:34] irfan-429 opened #128 "Unable to add into Queue"
I'm trying to add tracks in the queue but it always gives an error.

**Steps to reproduce the behavior:**

[code]

**Exception throwing**
[code]

**Additional Details**
I'm already connect with Spotify.

[2021-08-09 21:58] Sidak100 opened #129 "subscribeConnectionStatus on Android release build crashes due to null safety"
**Describe the bug**
subscribeConnectionStatus does not work or crashes due to null safety on Android Release Build but in debug mode works properly. I am currently on version 2.1.0 ~latest and here is the log when it crashes due to null safety:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Just call `SpotifySdk.subscribeConnectionStatus()`
2. Run the build in release mode

**Expec

[2021-08-11 13:39] irfan-429 commented on #128
@brim-borium - Can you pls have a look into? Your help would be appreciated.

[2021-08-11 23:38] Sidak100 commented on #129
Hey @brim-borium sorry to disturb, may you have a view at this issue

[2021-08-11 23:59] Sidak100 commented on #128
@irfan-429 I have tested this track on my project with both queue and play functions and it is working fine. Maybe, its some error with your spotify app or any kind of restriction as it says **Can't play on Demand**. Have you tested some other tracks with the same ?

[2021-08-12 06:10] irfan-429 commented on #128
Yeah, I tried with many tracks. If I play individual track by passing it to play function it works. If I do same with queue it gives above error. If there is a problem with my connection then the individual play track should also not work. What do you think?

[2021-08-12 15:52] Sidak100 commented on #128
Are you using latest package/spotify app/.aar files ?
If not then try after updating

[2021-08-17 00:27] Ahmed0tdc opened #130 "how can i add current playing song to "Liked" music on spotify"
how can i add current playing song to "Liked" music on spotify?

[2021-08-19 01:39] dhcracchiolo opened #131 "connectToSpotifyRemote fails when providing access token"
**Describe the bug**
SpotifySdk.connectToSpotifyRemote fails to connect to spotify and throws several errors when I provide an access token.  I know the token is valid as I just got it from a request under an hour ago.  When I call connectToSpotifyRemote in the exact same place without an access token it works just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. call SpotifySdk.connect

[2021-09-02 20:05] irfan-429 commented on #128
I'm using the latest but still same issue.

[2021-09-02 20:08] irfan-429 commented on #128
@brim-borium - Did you get any chance to look into my issue please.

[2021-09-18 21:13] incvv commented on #100
I found a workaround - download Spotify SDK in `index.html`:
[code]

The `window.onSpotifyWebPlaybackSDKReady` is necessary because spotify_sdk_web detects it, assumes that the SDK has been initialized, and skips adding the `<script src="https://sdk.scdn.co/spotify-player.js"></script>` to the DOM (which is when the JS error occurs).

Just be sure to not call spotify_sdk_web methods before the Spo

[2021-09-18 21:14] incvv commented on #80
I suggested a workaround for this in https://github.com/brim-borium/spotify_sdk/issues/100#issuecomment-922374687

[2021-09-22 09:31] fotiDim opened #133 "Android V2 embedding warning"
Since Flutter 2.5 this package (along with many others) are getting this warning:
[code]

[2021-09-24 20:50] fotiDim commented on #128
@irfan-429 are you using a free or Premium Spotify account?

[2021-09-24 20:51] fotiDim commented on #127
It seems a bit unlikely that this is a problem with this package. Are you still facing the issue?

[2021-09-24 20:51] irfan-429 commented on #128
I'm using a free one.

[2021-09-24 20:52] #126 closed

[2021-09-24 20:54] fotiDim commented on #130
`SpotifySdk.addToLibrary(spotifyUri: track.uri)`

[2021-09-24 20:54] #130 closed

[2021-09-24 20:59] fotiDim commented on #128
Seems very similar to [this](https://github.com/brim-borium/spotify_sdk/issues/126). Please try with a Premium account and report back.

[2021-09-28 09:07] brim-borium commented on #133
Will update this

[2021-09-29 06:22] brim-borium commented on #99
@brim-borium reminder to add this solution to the documentation

[2021-09-29 06:22] #99 closed

[2021-09-29 06:27] irfan-429 commented on #128
This isn't a a solid solution. Every end user couldn't have a premium spotify account.
If this package requires premium account then what is the purpose of the package to add songs in queue?
Why a person will use our app made by the help of this package if he required a premium account.
Not understandable solution!

[2021-09-29 07:30] fotiDim commented on #128
@irfan-429 you do realize that we are not Spotify, right? This package can only do whatever the native SDK does. If this is a limitation of the native SDK there is nothing we can do. In that case you better open an issue on the native SDK repo.

[2021-10-01 20:57] fotiDim commented on #128
Free accounts are not allowed to add tracks to the queue. Even the Spotify app works this way. Closing and please make sure you do some research before opening an issue.

[2021-10-01 20:57] #128 closed

[2021-10-01 21:18] fotiDim commented on #100
@incvv do you think you can make a PR about it and also update the readme accordingly?

[2021-10-01 21:21] fotiDim commented on #120
`getPlayerState()` or `subscribeToPlayerState()` is the way to go. The `PlayerState` object has a `playbackPosition` property.

[2021-10-01 21:21] #120 closed

[2021-10-01 21:24] fotiDim commented on #112
@nzoschke is this still an issue or was it covered with your PR?

[2021-10-02 09:36] fotiDim commented on #131
@dhcracchiolo I can't reproduce your issue. Which version of the package are you using? Try using the latest from master. Would also be nice if you could provide some code that demonstrates the issue.

[2021-10-02 11:02] fotiDim commented on #129
@Sidak100 can you reproduce the same issue with the example app and the latest version from the `main` branch? Are you sure that you configured your project correctly?

[2021-10-02 14:54] nzoschke commented on #112
This is now addressed with my PRs. Thanks!

[2021-10-02 14:54] #112 closed

[2021-10-02 14:56] Sidak100 commented on #129
Yes I tried the same with example app, still same issue. Regarding configuring I tried method provided in #99

[2021-10-02 19:15] fotiDim commented on #129
@Sidak100 how are you building the app? In release mode no logs are printed. Can you please describe in detail the steps you do?

[2021-10-03 18:25] #133 closed

[2021-10-06 05:39] Sidak100 commented on #129
The app working is simple, it subscribes to connection status and when connection is sucess or gets true it does certain things like bring the user data ~same as example app.
Actually in release mode when I connect to spotify using remote, it gets the connection object as null which is supposed to be a boolean, this gives the log error as in 1st comment. Although it is connected to spotify I can p

[2021-11-09 22:35] Dev-Vinyldepository commented on #113
As far as I diving deep to the package code,
I can see the package sends requests to SpotifyAPI and receive refresh token from the response.

Why don't you export it via the library so we can use it?

[2021-11-10 10:50] fotiDim commented on #113
Are you referring to iOS or Android?

[2021-11-10 17:37] Ruud14 opened #141 "No connection can be established with the player."
Hi, I am working on a flutter project and I want to use the Spotify Api on Anroid, IOS and web.
This package seems perfect for what I need.
However, the [example](https://github.com/brim-borium/spotify_sdk/tree/main/example) doesn't seem to work.
I created an app in the spotify developer dashboard, added the android package name and added the redirect url.

However the example app can't get the pl

[2021-11-10 17:59] Dev-Vinyldepository commented on #113
Any platform. I develop application for both platforms.
I rather manage the tokens by myself in the server, but when using your package it makes it impossible because I only receive the access token.

[2021-11-13 19:15] alanhmartins opened #142 "Works on debug but not on release"
Hi guys very nice. It's working 100% in the debug, but when I generate the release version it doesn't return the music, the image, and the playlist data for example, does anyone have a light?

[2021-11-13 19:20] fotiDim commented on #142
Please use the issue template when opening new issues.

[2021-11-13 19:20] #142 closed

[2021-11-13 20:04] fotiDim commented on #113
@Dev-Vinyldepository as far as I know the native Android SDK does not support this. For iOS you can read the comments above.

[2021-11-16 18:29] #141 closed

[2021-11-16 18:47] alanhmartins commented on #129
The same thing happens to me. Managed to solve?

[2021-11-16 18:50] alanhmartins commented on #141
The same thing happens to me. Managed to solve?

[2021-11-17 03:20] Sidak100 commented on #129
Try these commands for release build

`flutter build apk --no-shrink`

or

`flutter build apk --split-per-abi --no-shrink`

Although I didn't tried since I am out of home but let me know immediately if it works 👊🏻

[2021-11-18 03:27] alanhmartins commented on #129
it didn't work

[2021-11-18 03:27] alanhmartins commented on #129
it didn't work

Sorry for the delay, but I'm in a different time zone, I'm in Brazil.

[2021-11-18 09:50] Ruud14 commented on #141
I couldn't get it working on my desktop, so I tried it on my laptop and there it did work. At first I was really confused, but the issue turned out to be that the fingerprint that I was using on my desktop wasn't working so it worked after creating a new fingerprint and adding that to the spotify dashboard.

[2021-11-20 06:56] flutterdeveloper89 opened #143 "Song not getting played on android"
I m trying to use play method but it's not playing anything on my app from example in the package.
`SpotifySdk.play(spotifyUri:Spotify:playlist:xxxxx)`

Any clues for the reason.

[2021-11-21 06:40] danielaranias opened #144 "Spotify Log-in page crashes when connecting with Google or Apple"
**Is this a how to question?**
No

**Is this a native Spotify SDK issue**
No

**Are you using a Free or Premium Spotify account**
Premium

**Are you aware of the limitation of Free Spotify accounts**
Yes

**Expected behavior**
When a user clicks in the Spotify Log-in page to sign in with Google or Apple, the page should redirect to the relevant login page

**Describe the bug**
A new user has to co

[2021-11-25 12:05] hardikvij195 commented on #113
Hi, I'm developing a flutter app with Spotify integration and I have used firebase as backend. On android everything seems to be working fine but on iOS I am receiving this error unable to process request due to missing initial state. I am not able to figure out if the issue is Setting up the iOS app or the sdk.

Pls Help
Thanks

[2021-11-27 16:08] brim-borium commented on #129
@alanhmartins found the issue:

Because of obfuscating on the android side on release branches, some model keys had been renamed during the release build and that lead to a problem during decoding of the returning jsons

Should be fixed with #146

[2021-11-27 16:32] fotiDim commented on #100
Closed via https://github.com/brim-borium/spotify_sdk/pull/145

[2021-11-27 16:32] #100 closed

[2021-11-27 17:16] fotiDim commented on #143
For filing bugs please fill in the issue template.

[2021-11-27 17:16] #143 closed

[2021-11-27 17:40] #129 closed

[2021-11-28 15:15] Sidak100 commented on #129
Thanks a lot buddy 👊🏻

[2021-11-28 15:19] brim-borium commented on #129
@Sidak100 @alanhmartins
Just released v2.2.0 of the package, feel free to test if everything still works for you :)

[2021-12-03 13:35] hzlgnn opened #148 "Playback Speed Functionality"
Hello,

Do you have any plans to add speed functionality to this package?

Thank you,

[2021-12-03 14:38] brim-borium commented on #148
Hi @hzlgnn do you mean specific for Podcasts?

[2021-12-03 18:05] hzlgnn commented on #148
Yes

[2021-12-15 09:22] vikrantyadav7 opened #149 "Authentication failing"
I cloned this repo and added my app id and redirect uri in the .env file .
after calling the get authtoken function .it tries to connect through spotify and shows loading and then it gives an error . but if I uninstall my spotify app , it gives me TOKEN . but then remote access fails due to not having spotify app .
here is the error
`E/Parcel  (20425): Reading a NULL string not supported here.
E/l

[2021-12-15 15:21] #149 closed

[2021-12-25 18:48] irfan-429 commented on #127
It only happens with Free version of Spotify. Using paid version it works like a charm. It's from Spotify.

[2021-12-25 18:48] #127 closed

[2022-01-02 18:13] irfan-429 commented on #142
Did you try adding *release SHA1 fingerprint* in Spotify Dashboard?

[2022-01-02 20:47] irfan-429 opened #150 "[iOS] Spotify_sdk player's requests NEVER come back with their callbacks."
**Is this a native Spotify SDK issue**
No

**Are you using a Free or Premium Spotify account**
Premium

**Expected behavior**
Spotify_sdk must respond with a callback when I perform actions like play/pause/getPlayerState on a song.

**Describe the bug**
Pre-issue:
I was facing an [issue like this](https://github.com/brim-borium/spotify_sdk/issues/68) and I try to solve his way but it didn't solve.

[2022-01-03 19:15] irfan-429 commented on #150
@fotiDim - Can you please checkout my query? It'd be much helpful to meet my deadline.

[2022-01-04 09:24] fotiDim commented on #150
@irfan-429 some clarifications needed:
- Does the issue also happen when you pass a `valid` spotifyUri?
- Does the issue also happen when you don't pass any spotifyUri?
- "After few successful attempts, you won't be able to perform further actions on a song" Does that literally mean that you cannot perform any action (eg. pause) or just that you are not getting back the callback?

[2022-01-08 11:14] guyluz11 opened #151 "Can this package get converted to native dart"
I was wondering if this package or part of it can get converted to native dart and thus work on all platforms, and can get executed from server side as well?.

What part of this library require the flutter framework and what part of it only required native dart code.

[2022-01-08 11:48] fotiDim commented on #151
Nope, not possible with this package. The dart part is essentially glue code calling native APIs.

[2022-01-08 13:46] guyluz11 commented on #151
I see, thanks.

[2022-01-08 13:46] #151 closed

[2022-01-11 13:20] TobiWinter commented on #131
Hey I have the same problem. When i try to connect with a token i got only a few minutes before i get the following error:

[code]

[2022-01-11 23:01] fotiDim commented on #131
what you are facing is most likely a native SDK issue. Does restarting the Spotify app fix the issue?

[2022-01-18 17:11] wackazong commented on #96
I would say what you get back from `getAuthenticationnToken` is already the access token.

[2022-01-18 17:49] wackazong opened #152 "Authentication token: wording issue?"
In the documentation and code you are using the term "Authentication Token". Could it be that this should better be called an "Access Token" in order to comply with OAuth terminology? I think you are actually referring to the access token. Since there is also the authorization code in the OAuth flow, the term "Authentication Token" is confusing IMHO.

[2022-01-18 17:52] wackazong opened #153 "Get authorization code only"
**Is your feature request related to a problem? Please describe.**
I want  to have a refresh token on iOS and Android in order to be able to to refresh the access token.

**Describe the solution you'd like**
Is it possible to obtain the authorization code from the SDK on iOS and Android? Then I could use that to swap it for an access token and refresh token on my own server.

**Describe alternativ

[2022-01-19 15:22] fotiDim commented on #96
I believe the Authentication Token is the access token. No additional steps needed.

[2022-01-19 15:34] wackazong commented on #96
Yes, that is what I think, too.

[2022-01-21 12:36] shantanugodbole opened #154 "Flutter not detecting lintOptions in Android Gradle"
**!! Attention !!**
FILL IN ALL SECTIONS OF THIS TEMPLATE OR YOUR ISSUE WILL BE CLOSED WITHOUT INVESTIGATION
This is a flutter package that wraps the native [iOS](https://github.com/spotify/ios-sdk) and [Android](https://github.com/spotify/android-sdk) Spotify "remote" SDKs as well as the [Spotify Web Playback SDK](https://developer.spotify.com/documentation/web-playback-sdk/) for web. Since it wr

[2022-01-24 15:08] vikrantyadav7 commented on #96
yes , but it will be a better experience for a user .because now if my access token expires i have to again call getAuthToken and that displays a loading sign , its okay for a few time but every hour it seems annoying . And if i have refresh token and access token then i can get new access token through my backend improving the user experience.

[2022-01-24 15:10] vikrantyadav7 commented on #153
yes it would improve the user experience overall .
please make it happen soon.

[2022-01-24 18:16] fotiDim commented on #96
Closing as duplicate of https://github.com/brim-borium/spotify_sdk/issues/113

[2022-01-24 18:16] #96 closed

[2022-01-24 18:17] fotiDim commented on #153
Closing as duplicate of https://github.com/brim-borium/spotify_sdk/issues/113

[2022-01-24 18:17] #153 closed

[2022-01-24 18:24] fotiDim commented on #152
Fair point. I will improve this along with a dead link that I found in the readme.

[2022-01-24 18:37] vikrantyadav7 commented on #113
So there is no way in android sdk to get access Token and refresh Token ?

[2022-01-24 19:03] fotiDim commented on #113
@vikrantyadav7 access Token yes, refresh Token no last time I checked.

[2022-01-29 11:28] #154 closed

[2022-01-31 11:41] vikrantyadav7 opened #158 "Spotify changed the redirect URL callback to #access_token and now the athentication is failling"
**Is this a how to question?**
No

**Is this a native Spotify SDK issue**
No

**Are you using a Free or Premium Spotify account**
Premium

**Are you aware of the limitation of Free Spotify accounts**
Yes

**Describe the bug**
The getAthenticationToken function is not working . And i think the thats because Spotify has changed its redirect url . when i call the url generated by this function it ret

[2022-01-31 16:53] brim-borium commented on #158
![image](https://user-images.githubusercontent.com/4504079/151837310-0f93968c-c5fc-4cec-8cb5-cdd7ba52851f.png)

tested with the current develop and the following parameters and i got a working token back

[2022-01-31 16:58] vikrantyadav7 commented on #158
but in my case i giving me an error and i didnt changed anything . my client id and redirect url is the same . and when i click on the link generated by the fucntion i get the token in the redirect url .

[https://accounts.spotify.com/en/authorize?client_id=bbc2d117bece48ebaa067a59dc8885f9&response_type=token&redirect_uri=https:%2F%2Fgroove-338604.wn.r.appspot.com%2Fapp%2Fv1%2FspotifyCallback&show

[2022-01-31 17:04] #152 closed

[2022-01-31 17:17] brim-borium commented on #158
Which function does generate this link for you?

[2022-01-31 17:26] vikrantyadav7 commented on #158
yes

[2022-02-01 06:58] vikrantyadav7 commented on #158
THIS IS MY CONSOLE WHEN I CALL THE FUNCTION.
<D/com.spotify.sdk.android.auth.LoginActivity(30826): Spotify Auth starting with the request [https://accounts.spotify.com/authorize?client_id=bbc2d117bece48ebaa067a59dc8885f9&response_type=token&redirect_uri=https%3A%2F%2Fgroove-338604.wn.r.appspot.com%2Fapp%2Fv1%2FspotifyCallback&show_dialog=false&utm_source=spotify-sdk&utm_medium=android-sdk&utm_camp

[2022-02-03 12:14] #158 closed

[2022-02-03 17:36] brim-borium commented on #148
@hzlgnn just opened a PR for this were I implemented it for Android, iOS is still tbd

[2022-03-27 20:04] nt4f04uNd opened #161 "There are two RepeatMode enums"
I found it confusing that there are two different RepeateMode enums. It seems like an oversight.

[First](https://github.com/brim-borium/spotify_sdk/blob/f039d9bda850ba551f34d58d7a0e4ef454701340/lib/models/player_options.dart#L23)

[Second](https://github.com/brim-borium/spotify_sdk/blob/f039d9bda850ba551f34d58d7a0e4ef454701340/lib/enums/repeat_mode_enum.dart#L2)

[2022-04-05 16:27] akshg05 opened #162 "Project with path ':spotify-auth' could not be found in project ':spotify_sdk"
**!! Attention !!**
FILL IN ALL SECTIONS OF THIS TEMPLATE OR YOUR ISSUE WILL BE CLOSED WITHOUT INVESTIGATION
This is a flutter package that wraps the native [iOS](https://github.com/spotify/ios-sdk) and [Android](https://github.com/spotify/android-sdk) Spotify "remote" SDKs as well as the [Spotify Web Playback SDK](https://developer.spotify.com/documentation/web-playback-sdk/) for web. Since it wr

[2022-04-05 16:28] akshg05 commented on #162
Please release the latest version to pub. The build.gradle file for android in version 2.2.0 still references project for spotify_auth instead of the maven dep.

[2022-04-05 18:33] fotiDim commented on #162
@akshg05 thanks for the report. We will take care of it soon.

[2022-04-05 18:35] fotiDim commented on #150
Closing due to lack of feedback. If the issue persists please report back.

[2022-04-05 18:35] #150 closed

[2022-04-05 18:35] fotiDim commented on #131
Closing due to lack of feedback. If the issue persists please report back.

[2022-04-30 03:10] jasongerstorff commented on #162
Any intention to update this?

[2022-04-30 09:49] brim-borium commented on #162
@akshg05 @jasongerstorff I just released the newest version. Sorry for the delay!

[2022-04-30 13:03] SarthakVaswani opened #163 "How to fetch user's all playlist and add the selected playlist songs to queue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-04-30 13:03] SarthakVaswani commented on #162
Thanks a lot

[2022-04-30 13:09] jasongerstorff commented on #162
Thank!

[2022-05-10 16:17] banool commented on #13
Null safe version. I used this successfully in Flutter 2.10.5:
[code]

[2022-05-17 21:07] banool opened #164 "502 errors when attempting any action with the API"
**Is this a how to question?**
No

**Is this a native Spotify SDK issue?**
No

**Have you searched for existing issues?**
Yes

**Are you using a Free or Premium Spotify account?**
Premium

**Are you aware of the limitations of Free Spotify accounts?**
Yes

**Expected behavior**
I can call the functions under `SpotifySDK` which are supported according to the README and they work.

**Describe the bu

[2022-05-18 15:06] banool commented on #164
I looked at the example code and couldn't figure out what I'm doing differently also.

[2022-05-21 19:32] banool opened #165 "Consider using spotify package for web API"
This library currently builds out its own support for using the web API. There is already a package, [spotify](https://pub.dev/packages/spotify), that implements partial support for the web API. If we migrated over to that, we could reduce the amount of work required to maintain this library.

[2022-05-21 19:34] banool opened #166 "Add support to web SDK for endpoints that mobile supports"
This is part of a series of issues tracking progress toward bringing the Web version of this SDK in line with the mobile versions. The below (incomplete) list tracks items that haven't yet been implemented. We can update the list as we add support:

- [ ] `toggleShuffle`
- [ ] `toggleRepeat`
- [ ] `isSpotifyAppActive`
- [ ] `seekTo`
- [ ] `seekToRelativePosition`

I have investigated and confirmed

[2022-05-21 20:02] fotiDim commented on #165
@banool it has been discussed and personally I am in favor of it. If someone is up for the task PRs are welcome.

[2022-05-21 20:03] banool opened #168 "Add way to opt out of targeting a specific player"
I'm referring to the `device_id` field in the endpoints. It's not required in the API, so it shouldn't be required here either. I especially want this since I think it's causing issues with the code.

[2022-05-21 20:05] banool opened #169 "Improve debugability of web SDK"
Currently when a call on web fails you pretty much just get the HTTP status code and a stack trace. It would be nice to be able to see what the response was. In the functions that handle auth in the web SDK we catch DioError and print something better than the default, but we don't do that for the rest of the endpoints. We should.

[2022-05-21 20:06] fotiDim commented on #166
@banool They should also be already visible in the readme. Isn't one source of truth enough? If there is anything inaccurate or missing please consider updating the readme.

[2022-05-21 20:08] banool commented on #166
This PR isn't to track what is available today, it is to track progress towards actually implementing them. The README is also vague about whether the support doesn't exist because the web API doesn't provide it vs us just not having implemented it yet.

[2022-05-25 23:27] banool commented on #164
Okay seems like the issues where these:
- With the web API it works best to play a song first prior to queuing anything.
- We don't want to always target a particular player, that causes the 502s.

For the latter, I've got some changes in https://github.com/banool/spotify_sdk/. I can make PRs out of these if folks think they're reasonable, but now I'll be using my own branch.

[2022-05-26 04:00] volgin opened #170 "Identify Spotify user"
I need to store information about a user after connecting to Spotify. Oauth providers (Google. Facebook, etc.) supply some form of unique user ID, which we can store in the database. It appears that Spotify only has user's email address as a form of identification. If that's the case, it will be great if you add getUserEmail() method when access token includes user_read_email scope.

[2022-05-26 06:30] fotiDim commented on #170
@volgin which platform are you targeting?

[2022-05-26 06:39] fotiDim commented on #166
@banool fair enough. We could adopt the [Spotify package](https://pub.dev/packages/spotify) for the missing features to minimize the effort and also see how nicely the two packages play together.

[2022-05-26 14:48] volgin commented on #170
Initially iOs and Android, but later may add web and/or WIndows/MacOs.

[2022-05-26 14:54] volgin commented on #170
Actually, Spotify does have a user ID:
https://developer.spotify.com/documentation/web-api/reference/#/operations/get-current-users-profile

This requires [user-read-private] scope. Either call works for my purposes as both IDs and emails are unique identifiers.

[2022-05-26 15:36] fotiDim commented on #170
@volgin this plugin only supports iOS/Android/Web. Not sure how you plan to support desktop platforms.
Regarding your request, I can only speak about iOS. There is a (long) way to get the user's email through the native iOS SDK but it is not supported in this plugin for reason's of consistency and simplicity. What I suggest instead is to add the scope and then use Spotify's web API to get the emai

[2022-05-26 15:54] volgin commented on #170
I need functionality that the spofity package does not support yet. Will it be a problem if I get an access token through your package, and then use it to obtain additional information through spotify package? Or it's better to simply make a direct call to the Spotify API endpoint using the access token from your package?

[2022-05-26 16:07] fotiDim commented on #170
Yes that was exactly my suggestion. It's up to you to decide if you want to use the Spotify package. If it is for a single call I guess it does not make sense as it will bring a lot of dependencies.

But definitely double check how you plan to support desktop platforms.

[2022-06-06 10:22] fotiDim commented on #170
@volgin can we close this? As suggested it is better to tackle this over the web api.

[2022-06-07 13:29] brim-borium commented on #165
@banool Just to clarify, the idea is to use spotify-dart inside the spotify_sdk lib or to merge the two packages and have one package for all?

[2022-06-07 15:17] banool commented on #165
My thoughts were we would do the former, I don't think users of spotify-dart should necessarily take on the dependency of the mobile SDKs if they don't want them.

[2022-06-07 19:42] brim-borium commented on #165
Fine with me :)

[2022-06-18 11:11] akshg05 opened #171 "Spotify Auth page not opening in Xiaomi Redmi devices"
**!! Attention !!**
FILL IN ALL SECTIONS OF THIS TEMPLATE OR YOUR ISSUE WILL BE CLOSED WITHOUT INVESTIGATION
This is a flutter package that wraps the native [iOS](https://github.com/spotify/ios-sdk) and [Android](https://github.com/spotify/android-sdk) Spotify "remote" SDKs as well as the [Spotify Web Playback SDK](https://developer.spotify.com/documentation/web-playback-sdk/) for web. Since it wr

[2022-06-18 13:38] akshg05 commented on #171
For device running on Android 6, I am getting the Auth screen but on clicking the buttons, nothing happens.
From logcat I see that for Android 6 device, Spotify is using webview and url based auth system.
However, for other devices where the auth works, it doesn't follow the webview based url callbacks.
is this expected? Any reason for this behavior and how can we have the Buttons working on the w

[2022-06-18 22:47] Justus-M opened #172 "getAccessToken"
**!! Attention !!**
FILL IN ALL SECTIONS OF THIS TEMPLATE OR YOUR ISSUE WILL BE CLOSED WITHOUT INVESTIGATION
This is a flutter package that wraps the native [iOS](https://github.com/spotify/ios-sdk) and [Android](https://github.com/spotify/android-sdk) Spotify "remote" SDKs as well as the [Spotify Web Playback SDK](https://developer.spotify.com/documentation/web-playback-sdk/) for web. Since it wr

[2022-06-19 13:32] Justus-M commented on #172
https://community.spotify.com/t5/Spotify-for-Developers/Getting-error-invalid-scope-when-we-authenticate-with-the/m-p/5393177

[2022-06-19 13:32] #172 closed

[2022-06-21 02:53] volgin commented on #170
Yes, you can close it.

[2022-06-21 06:28] #170 closed

[2022-06-21 23:53] volgin opened #173 "asRadio parameter has no effect"
When SpotifySdk.play() is called with asRadio = false (default value), Spotify app still starts a radio station based on the provided track when the track stops playing.

Is this a known issue? Any workarounds?

[2022-10-02 19:35] agalambas commented on #131
I'm having the same problem, basically If I get the access token using my api calls on the backend, instead of using your method, I can't pass the access token to "connectToSpotifyRemote" because it throws that error. And so I can't connect silently.